.navigation{
    .flexbox();
    justify-content: space-between;
    background-color: @nav-bg;
    color: @nav-font;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    @media @phone {
        position: unset;
    }
    .responsive{
        @media @phone {
            position: relative;
        }
        a{
            @media @phone{
                float: none;
                display: block;
                text-align: left;
            }
        }
        .dropdown{
            @media @phone{
                float: none;
            }
            .dropbtn{
                @media @phone{
                    display: block;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .dropdown-content{
            @media @phone{
                position: relative;
            }
        }
    } 
   
    .dropdown{
        float: left;
        overflow: hidden;

        .dropbtn{
            display: none;
            @media @phone{
            display: flex;
            font-size: .25em;
            border: none;
            outline: none;
            color: @off-white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            }
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: @off-white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            
            a{
                float: none;
            color: @off-black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            }
        }
        &:hover .dropdown-content{
            display: block;
        }
    }

    .navtitle{
        .flexbox();
        align-items: baseline;
        font-size: 3em;
        padding: 10px;

        h5 {
            font-size: .25em;
            font-family: @sub-font;
        }

        
    }

    nav{
        .flexbox();
        .centercenter();
        margin-right: 50px;
        padding-top: 10px;
        color: @nav-font;
        
        @media @phone {
            margin-right: unset;
            padding-top: unset;
        }
    }
    .active {
        color: @pastel-green;
    }
        a{
        	color: @nav-font;
        	font-size: 1em;
        	margin-left: 20px;
            transition: 0.5s;
            text-decoration: none;
            font-family: @mono-font;
            @media @phone {
                font-size: 1.5em;
                &:not(:first-child), .dropdown .dropbtn{
                    display: none;
                }
            }
            
        }
}